<div class="topnav">
  <a href="#home">Home</a>

  <% if current_user.admin? %>
    <%= link_to "Add Item", new_item_path(current_user) %>
  <% end %>
  <%= link_to "Profile", user_path(current_user) %>

  <a style="float: right; margin-right: 20px" href="#login">Login</a>
  <div class="search-container">
     <form>  <!--action="action_page.php" -->
      <input class="searchbar" type="text" placeholder="Search" name="search">
      <button style="width: 30px; height: 30px " type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 
  'navbar-link'  %>
</div>

<div>
  <ul>
    <% @items.each do |item| %>
      <li>
        <%= link_to item.name, item_path(item) %>
      </li>
    <% end %>
  </ul>
</div>