<p style="margin-left: 40px"><%= @item.name %></p>

<ul>
  <li><%= button_to "Edit Item", edit_item_path(@item), :method => :get %></li><br>
  <li><%= button_to "Delete Item", item_path(@item), :method => :delete, data: {
                    turbo_confirm: "Are you sure?"
                  } %></li> 
</ul>